<section class="slider">
   <div class="slider-1">
      <div class="slider-content">
         <h1 class="title">{{ entry.sliderTitle }}</h1>
         <h3 class="subtitle">{{ entry.sliderSubhead }}</h3>
         <p class="subtitle">{{ entry.sliderBody }}</p>
         <div class="buttons-container">
            <a href="#about" class="primary">About You</a>
            <a href="#contact" class="secondary">Contact</a>
         </div>
         <div class="social-links">
            <a href="https://www.facebook.com/D4N20" target="_blank" class="hvr-underline-from-left social">Facebook</a>
            <a href="https://uk.linkedin.com/in/daniel-abbott-66933655" target="_blank" class="hvr-underline-from-left social">LinkedIn</a>
            <a href="https://twitter.com/dan4bb" target="_blank" class="hvr-underline-from-left social">Twitter</a>
            <a href="https://www.instagram.com/dan.abb/" target="_blank" class="hvr-underline-from-left social">Instagram</a>
            <a href="https://www.fiverr.com/danabb" target="_blank" class="hvr-underline-from-left social">Fiverr</a>
            <a href="https://github.com/DanAbb" target="_blank" class="hvr-underline-from-left social">Github</a>
         </div>
      </div>
<!--       <div class="slider-img">
         <img src="/assets/img/head.png" />
      </div> -->
   </div>
</section>