<section class="about" id="about">
   <div class="about-wrapper">
      <h1>About You</h1>
      <p>You run a business and need a content manageable website.</p>
      <p>You already have a website, but you want a better one.</p>
      <p>You have heard I specialise in the takeaway industry, you are intrigued.</p>
      <p>You have heard I specialise in Craft CMS. You want Craft CMS.</p>
      <p>You need a new brand. You want some media to go with that brand.</p>
      <p>You have a really interesting theory about what is beyond the observable universe and would like to share it with me.</p>
      <h4>If any of the above are true, then I'd love to chat to you. Send me a wee message below.</h4>
   </div>
</section>