<section class="projects" id="projects">
   <div class="projects-wrapper">
      <div class="project box1">
         <a href="pizza-express">
            <svg>
               <use xlink:href="#pizzaexpress"></use>
            </svg>
            <h1>Pizza Express</h1>
         </a>
      </div>
      <div class="project box2">
         <a href="stat-chat">
            <svg>
               <use xlink:href="#statchat"></use>
            </svg>
            <h1>StatChat</h1>
         </a>
      </div>
      <div class="project box3">
         <a href="liosis">
            <svg>
               <use xlink:href="#liosis"></use>
            </svg>
            <h1>Liosis Cafe</h1>
         </a>
      </div>
      <div class="project box4">
         <a href="ristro">
            <svg>
               <use xlink:href="#ristro"></use>
            </svg>
            <h1>Ristro</h1>
         </a>
      </div>
      <div class="project box5">
         <a href="roker-report">
            <svg>
               <use xlink:href="#rokerreport"></use>
            </svg>
            <h1>Roker Report</h1>
         </a>
      </div>
      <div class="project box6">
         <a href="mcleod-quality">
            <svg>
               <use xlink:href="#mcleod"></use>
            </svg>
            <h1>Mcleod Quality</h1>
         </a>
      </div>
   </div>
</section>